{% extends "inventory/base.html" %}
{% block title %} Ingredients List - {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mt-5">Ingredients</h2>
  <a href="{% url 'ingredientcreate' %}"><button class="btn btn-success my-5">Add ingredient</button></a>
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>  
    {% for ingredient in object_list %}
    <tr>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.quantity }}</td>
      <td>{{ ingredient.unit }}</td>
      <td><a href="{% url 'ingredientupdate' ingredient.pk %}"><button class="btn btn-warning">Edit</button></a></td>
      <td><a href="{% url 'ingredientdelete' ingredient.pk %}"><button class="btn btn-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </table>
</div>  
{% endblock %}

