{% extends "inventory/base.html" %}
{% block title %} Menu Items - {{ block.super }}{% endblock %}

{% block content %}
  <h2>Menu Items</h2>
  <a href="{% url 'menuitemcreate' %}"><button class="btn">Add Menu Item</button></a>
  <table id="menuitems">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Ingredients</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for item in object_list %}
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.price }}</td>
      <td>
        <ul>
          {% for ingredient in item.ingredients.all %}
            <li>{{ ingredient.name }} - {{ ingredient.quantity }} {{ ingredient.unit }}</li>
          {% endfor %}
        </ul>
      </td>
      <td><a href="{% url 'menuitemupdate' item.pk %}"><button>Edit</button></a></td>
      <td><a href="{% url 'menuitemdelete' item.pk %}"><button>Delete</button></a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

